**Import DWD data**

In [119]:
import pandas as pd
import wetterdienst as wd
from datetime import datetime
from wetterdienst import Settings, Resolution, Period
from wetterdienst.provider.dwd.observation import (
    DwdObservationDataset,
    DwdObservationPeriod,
    DwdObservationRequest,
    DwdObservationResolution,
    DwdObservationParameter,
    download
)
# Konfiguration
settings = Settings( # default
    ts_shape="long",  # tidy data
    ts_humanize=True,  # humanized parameters
    ts_si_units=True  # convert values to SI units
)


# Datenanfrage
dwd_dataset = DwdObservationDataset
attrib = [
    'precipitation_height',
    'temperature_air_mean_200',
    'wind_speed',
]

values = pd.DataFrame()

for value in attrib:
    request = DwdObservationRequest(
        parameter=[value],
        resolution= "hourly",
        start_date="1996-01-01",
        end_date="2024-01-01",
        settings=settings
    ).filter_by_station_id(station_id=1766)

    stations = request.df
    # stations
    paramValues = request.values.all().df
    paramValues = paramValues.rename({'value': value})
    #print(paramValues)
    paramValues = paramValues.to_pandas()
    #print(paramValues.groupby('parameter').groups.keys())
    if values.empty:
        values = paramValues[['date', value]]
    else:
        values = values.merge(paramValues[['date', value]], on='date', how='outer')
    paramValues = paramValues.drop(columns=value)

values

,date,precipitation_height,temperature_air_mean_200,wind_speed
0,1996-01-01 00:00:00+00:00,0.0,268.75,3.3
1,1996-01-01 01:00:00+00:00,0.0,268.85,2.8
2,1996-01-01 02:00:00+00:00,0.0,268.75,3.5
3,1996-01-01 03:00:00+00:00,0.0,268.75,3.6
4,1996-01-01 04:00:00+00:00,0.0,268.65,3.3
...,...,...,...,...
245444,2023-12-31 20:00:00+00:00,0.0,282.45,6.0
245445,2023-12-31 21:00:00+00:00,0.0,282.15,7.0
245446,2023-12-31 22:00:00+00:00,0.1,281.75,6.9
245447,2023-12-31 23:00:00+00:00,0.0,280.85,6.7
245448,2024-01-01 00:00:00+00:00,0.0,280.95,5.9

**Print available parameters**

Query for available parameters for a 
- specific station 
- date 
- resolution

In [120]:
values.to_csv('klima_1766.csv', sep=',')

In [ ]:
request = DwdObservationRequest(
        parameter=DwdObservationDataset,
        resolution= "hourly",
        start_date="1996-01-01",
        end_date="1996-01-01",
        settings=settings
    ).filter_by_station_id(station_id=1766) #enter station id here

params = request.values.all().df.to_pandas()

params.groupby('parameter').groups.keys()